header.header  
  .header-top.container    
    .header-top__body
      a(href="#").header-top__item.geo САНКТ-ПЕТЕРБУРГ
      a(href="#").header-top__item.call 8 (812) 577-42-18 / ЗАКАЗАТЬ ЗВОНОК
      a(href="#").header-top__item.entry ВХОД / РЕГИСТРАЦИЯ
      a(href="#").header-top__item.favorites ИЗБРАННОЕ
  .header-middle.container
    .header-middle__body
      .header-middle__menu
        button(aria-label="открыть меню").header-middle__icon
          span 
          span 
          span 
        nav.header-middle__nav
          p Меню
          ul.header-middle__list
            li
              a(href="/").nav__item  Компания
            li
              a(href="/").nav__item О нас
            li
              a(href="/").nav__item Акции и скидки
            li
              a(href="/").nav__item Часто задаваемые вопросы
            li
              a(href="/").nav__item Как сделать заказ?
            li
              a(href="/").nav__item Вакансии
            li
              a(href="/").nav__item Контакты
      h1.header-middle__logo
        img(src="./img/LOGO.svg" alt="LOGO")
      .header-middle__cart.cart
        p Корзина
        a.cart__link(href="#") 1200
      a.header-middle__geo(href="#")
        img(src="./img/icons/geo.svg" alt="geo")
  .header-bottom.container
    .header-bottom__body
      nav.header-bottom__menu
        button.header-bottom__button Каталог
        ul.header-bottom__list
          li
            a.header-bottom__item(href="/") СРЕДСТВА ДЛЯ ОБУВИ
          li
            a.header-bottom__item(href="/") МАТЕРИАЛ
          li
            a.header-bottom__item(href="/") НАЗНАЧЕНИЕ
          li
            a.header-bottom__item(href="/") НАБОРЫ
          li
            a.header-bottom__item(href="/") АКСЕССУАРЫ
          li
            a.header-bottom__item(href="/") БРИТЬЕ И УХОД
          li
            a.header-bottom__item(href="/") БРЕНДЫ
      .header-bottom__search 
        img(src="./img/icons/search.svg" alt="search")
        input(type="search" placeholder="ПОИСК")

