html(lang="ru")
  head
    title WAXAshop
    meta(charset="UTF-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    
  body
    .wrapper
      include header.pug
      main
        include section1.pug
        include section2.pug
        include section3.pug
        include section4.pug
        include section5.pug
        include section6.pug  
      include footer.pug
  