section.saphir.container.saphir1
  .saphir1__body
    h2.saphir__title.title Обувная косметика <br/>Сапфир
    p.saphir__description 
      |Добро пожаловать в Waxa Shop — онлайн магазин средств по уходу за обувью. 
      |Мы рады предложить Вам лучшие в мире средства для обуви от легендарной 
      |французской фирмы сапфир.<span> Косметика для обуви Saphir имеет столетнюю историю и 
      |безукоризненную репутацию, являясь эталоном качества среди любителей и профессионалов 
      |обувного ухода. В ассортименте обувной косметики нужно уметь ориентироваться. 
      |Чем отличаются хорошие средства, что входит в их состав и как правильно подобрать 
      |удачный набор?</span>
    button.saphir__text-link Читать дальше
    .saphir__dots.dots 
      span 
      span
      span