section.collection.container  
  .collection__body 
    .collection__title.title.title_s Коллекции
    .collection__wrapper
      .collection__column
        .collection__item.collection__item_l.collection__item_1
          h3.collection__subtitle Крема для обуви
          a(href="#").collection__link
          .collection__description
            p от 395.-
            p 25+ товаров
        .collection__item.collection__item_s.collection__item_2
          h3.collection__subtitle Очиститель для обуви 
          a(href="#").collection__link
          .collection__description
            p от 525.-
            p 15+ товаров
        .collection__item.collection__item_s.collection__item_3
          h3.collection__subtitle Очиститель для обуви 
          a(href="#").collection__link
          .collection__description
            p от 525.-
            p 15+ товаров
      .collection__column
        .collection__item.collection__item_s.collection__item_4
          h3.collection__subtitle Очиститель для обуви 
          a(href="#").collection__link
          .collection__description
            p от 525.-
            p 15+ товаров
        .collection__item.collection__item_s.collection__item_5
          h3.collection__subtitle Щетки для обуви
          a(href="#").collection__link
          .collection__description
            p от 1190.-
            p 30+ товаров
        .collection__item.collection__item_l.collection__item_6
          h3.collection__subtitle
          a(href="#").collection__link
          .collection__description
            p от 395.-
            p 25+ товаров