section.saphir.container.saphir2
  .saphir2__body
    h2.saphir__title.title.saphir2__title Сапфир для обуви – брендовая забота
    p.saphir__description 
      |Уход за обувью – рациональное вложение средств и сил. Поэтому косметика для обуви 
      |должна быть качественной. Сапфир – продукция, которой удалось заслужить безупречную 
      |репутацию среди пользователей и профессионалов по восстановлению обуви. 
      <span>Аксессуары для ухода от этого бренда служат долго, а химические составы 
      |исключительно положительно влияют на внешний вид изделий.</span>
    p.saphir__description <span>Средства от знаменитого французского бренда очень разнообразны. 
      |Линейки обувной косметики Сапфир включают разнообразные средства для очистки 
      |(пенки, шампуни, эмульсии), крема с широкой палитрой оттенков, аэрозоли и краски. 
      |Существуют специальные серии, разработанные для гладкой кожи, наборы для замши, 
      |комплекты для нубука и полный ассортимент всех возможных инструментов.</span>
    button.saphir__text-link Читать дальше
    .saphir__dots.dots 
      span 
      span
      span