section.email.container 
  .email__body 
    .email__text
      .email__subtitle Подпишитесь на нас
      .email__title Получите безграничный доступ к самым выгодным предложениям
      .email__description Узнавайте первым о полезных статьях, акциях и эксклюзивных предложениях!
      form(action="#").email__form
        input(type="email" placeholder="Введите ваш Email")
        input(type="submit" value="Подписаться")