section.journal.container  
  .journal__body 
    .journal__title.title.title_s Журнал
    .journal__wrapper
      article.journal__article.article
        .article__image
          img(src="./img/magazine1.jpg")
        .article__body
          p.article__heading СТИЛЬ
          p.article__date 4 МАЯ 2019
          h3.article__title Уход за бородой и усами в домашних условиях
          p.article__text Мода поражает разными формами усов, щетиной, густой растительностью на лице, которые подчеркивают мужественность, аристократичность мужчин. Однако отрастить этот аксессуар – только
          a(href='#').article__link Читать дальше
      article.journal__article.article
        .article__image
          img(src="./img/magazine2.jpg")
        .article__body
          p.article__heading ИНСТРУКЦИИ
          p.article__date 21 АПРЕЛЯ 2018
          h3.article__title Как покрасить кожаную обувь? Использование проникающей краски Saphir Teinture
          p.article__text В основу этой инструкции лег опыт перекраски обуви в домашних условиях от любителя ухода за обувью. Автор достиг приемлемого результата,
          a(href='#').article__link Читать дальше
      article.journal__article.article
        .article__image
          img(src="./img/magazine3.jpg")
        .article__body
          p.article__heading ОБЗОРЫ
          p.article__date 15 АПРЕЛЯ 2018
          h3.article__title Обзор средств для кроссовок Tarrago Sneakers
          p.article__text Сегодняшний пост посвящен серии продуктов для ухода за кроссовками Tarrago Sneakers Care. На данный момент это наиболее полная линейка специализированной продукции для любителей
          a(href='#').article__link Читать дальше
    a.journal__link(href="/") Все записи