section.main-screen.container
  .main-screen__body
    .swiper-container
      .swiper-wrapper
        .swiper-slide.slide
          .slide__text
            .slide__subtitle СКИДКИ ДО 25%
            h3.slide__title Французкие спреи Saphir Medalle D’or
            .slide__description Премиальные лаки и спреи для ухода за изделиями из натуральной кожи по самым выгодным ценам
            a(href="#").link_rect.slide__link Выбирайте
          .slide__image
            img(src="img/spray.png")
        .swiper-slide.slide
          .slide__text
            .slide__subtitle СКИДКИ ДО 25%
            h3.slide__title Французкие спреи Saphir Medalle D’or
            .slide__description Премиальные лаки и спреи для ухода за изделиями из натуральной кожи по самым выгодным ценам
            a(href="#").link_rect.slide__link Выбирайте
          .slide__image
            img(src="img/spray.png")
        .swiper-slide.slide
          .slide__text
            .slide__subtitle СКИДКИ ДО 25%
            h3.slide__title Французкие спреи Saphir Medalle D’or
            .slide__description Премиальные лаки и спреи для ухода за изделиями из натуральной кожи по самым выгодным ценам
            a(href="#").link_rect.slide__link Выбирайте
          .slide__image
            img(src="img/spray.png")
      .swiper-button-prev
      .swiper-button-next
      .swiper-pagination
        
        