// section Collection
.collection {
  
  // .collection__title
  &__title {
    position: relative;
    &::before{
			content: url('/dist/img/icons/К.svg');
      position: absolute;
      top: 0;
      left: calc(50% - 10px);
		}
  }
  &__wrapper{
    display: flex;
  }
  // .collection__body
  &__body {    
    padding: 100px 25px 86px;
    background-color: #F9F9F9;
  }
  // .collection__column
  &__column {
    flex: 1 0 50%;
    &:first-child{
      margin-right: 24px;
    }
  }
  // .collection__item
  &__item {
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 24px;
    @media (min-width: $md3 + px){
      &:hover{
      filter: brightness(160%);
    }
    }
    
    // .collection__item_l
    &_l {
      min-height: 648px;
      width: 100%;
    }
    // .collection__item_s
    &_s {
      min-height: 311px;
      width: 100%;
    }
  }
  // .collection__subtitle
  &__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
  }
  // .collection__link
  &__link {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40px;
    right: 40px;
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    border-radius: 50%;
    background: url('/dist/img/icons/arrow-collection.svg') center no-repeat;
  }
  // .collection__description
  &__description {
    font-family: $fontFamilyAdd;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: $md3 + px){
    &__body{
      background-color: transparent;
      padding: 50px 0 0;
    }
    &__wrapper{
      flex-direction: column;
    }
    &__column {
      width: 100%;
      &:first-child{
        margin-right: 0;
      }
    }
    &__item, &__item_s, &__item_l{
      width: 100%;
      max-height: 325px;
      min-height: 325px;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 22px;
      max-width: 70%;
    }
    &__link {
      top: 24px;
      right: 24px;
      border: 1px solid rgba($color: #fff, $alpha: 1);
      background: url('/dist/img/icons/arrow-collection-black.svg') center no-repeat, #fff;
    }
  }
    
  
}
.collection__item_1{
  background: url('/dist/img/collection1.jpg') top / cover no-repeat;
}
.collection__item_2{
  background: url('/dist/img/collection2.jpg') top / cover no-repeat;
}
.collection__item_3{
  background: url('/dist/img/collection3.jpg') top / cover no-repeat;
}
.collection__item_4{
  background: url('/dist/img/collection4.jpg') top / cover no-repeat;
}
.collection__item_5{
  background: url('/dist/img/collection5.jpg') top / cover no-repeat;
}
.collection__item_6{
  background: url('/dist/img/collection6.jpg') top / cover no-repeat;
}

