// section email
.email {
  padding-top: 30px;
  padding-bottom: 25px;
  // .email__body
  &__body {
    background: url("../img/subscribe.png") 10% 0 / contain no-repeat, #f2eadb;
  }
  // .email__from
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 10% 10% 50%;
  }
  // .email__subtitle
  &__subtitle {
    font-size: 13px;
    font-weight: bold;
    line-height: 26px;
    color: $dark-gray;
    opacity: 50%;
    margin-bottom: 30px;
  }
  // .email__title
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  // .email__description
  &__description {
    font-family: $fontFamilyAdd;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  input[type="email"] {
    font-family: $fontFamilyAdd;
    flex: 1 1 auto;
    max-width: 366px;
    margin-right: 24px;
    line-height: 18px;
    color: #7a7a7a;
    opacity: 50%;
    border-bottom: 1px solid #7a7a7a;
    background-color: transparent;
  }
  input[type="submit"] {
    width: 162px;
    padding: 10px 23px 10px 0;
    border: 1px solid #7a7a7a;
    text-align: right;
    line-height: 28px;
    font-weight: bold;
    background: url("../img/icons/arrow-light.svg") 15% 50% no-repeat, transparent;
  }
  @media (max-width: $md2+px) {
    &__body {
      background: url("../img/subscribe.png") -30px 0 / contain no-repeat, #f2eadb;
    }
    &__text {
      padding: 6% 6% 6% 44%;
    }
  }
  @media (max-width: $md3+px) {
    &__body {
      background: url("../img/subscribe.png") top / 48% no-repeat, #f2eadb;
    }
    &__text {
      padding: 57% 5% 5% 5%;
      text-align: center;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 15px;
    }
    &__description {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    &__form {
      flex-direction: column;
    }
    input[type="email"] {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
      padding-bottom: 10px;
    }
    input[type="submit"] {
      margin: 0 auto;
      cursor: pointer;
    }
  }
}
