// section 5 about Saphir
.saphir2{
  &__body {
    padding: 7% 27%;
    background: url('../img/saphir_bg.svg') no-repeat;
  }

  &__title {   
    padding-top: 110px; 
    &::before{
      content: url('../img/icons/saphir.svg');
      width: 135px;
      height: 99px;
      position: absolute;
      top: 0;
      left: calc(50% - 67.5px);
    }
  }
  .saphir__dots.dots span{
    background-color: $gold;
  }

  @media screen and (max-width: 1080px){
    &__body {
      padding: 10% 15%;
    }
  }
  @media screen and (max-width: $md2 + px){
    &__body {
      padding: 7% 10%;
    }
  }
  @media screen and (max-width: $md4 + px){
    &__title {
      padding-top: 90px;
      &::before{
        width: 113px;
        height: 81px;      
        left: calc(50% - 40.5px);
      }
    }
  }
}